@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: darkgray;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.search-bar form input {
height: 31px;
}

.search-bar form input:first-child {
border: 1px solid black;
border-left: transparent;
border-right: transparent;
height: 45px;
width: 250px;
}

.search-bar form input:focus {
outline: none;
}


.search-bar img {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 5px;
}

.search-bar .img-wrapper {
display: inline-flex;
border-left: 1px solid black;
border-top: 1px solid black;
border-bottom: 1px solid black;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
margin: 0;
align-items: center;
background-color: white;
}

.search-bar form {
  display: inline-block;
}

.search-bar form input {
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.search-bar form input:last-child {
    border: 1px solid black;
    border-left: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 49px;
    background-color: rgb(255, 106, 0);
    margin-left: -10px
}
